// Widget
.widget {
    background: $light-blue;
    margin-bottom: 3*$m-size;
}

.widget__message {
    border-bottom: 1px solid lighten($light-blue, 10%);
    color: $off-white;
    margin:0;
    padding: 2*$m-size;
    text-align:center;
}

// Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.widget-header__title {
    margin:0;
}